@use 'ejercicio-1-base' as *;

body {
    margin: 0;
    padding: 0;
}

container-base {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  margin: 5px;
}

.container-1 {
  @extend container-base;
  @include color-variations($primary-color, $inverted-color);
}

.container-2 {
  @extend container-base;
  @include color-variations($second-color, $second-inverted-color);
}

.container-3 {
  @extend container-base;
  @include color-variations($third-color, $third-inverted-color);
}

.box {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    flex-basis: 100px;
}



