$background-color: white;

body {
    margin: 10px;
    padding: 10px;
    background-color: lightgrey;
    display: grid;
    place-items: center;
}
.card-wrapper {
    width: 300px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border: 1px solid black;
}
    
.div1 { 
    background-color: $background-color;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    overflow: hidden;    
}
.div2 { 
    background-color: $background-color;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    padding: 10px;
}
.div3 { 
    background-color: $background-color;
    grid-column: 1 / 2;
    grid-row: 4 / 6;
    display: flex;
    padding: 10px;
}
.card-thumbnail {
    object-fit: cover;
    width: 100%;
}
.card-title{
    display: block;
    font-size: 2rem;
}
.card-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.card-text {
    display:block;
}
.card-cta {
    width: 100%;
    background-color: rgb(55, 117, 55);
    border: none;
    font-size: 1.5rem;
    padding: 10px;
    color: $background-color;
}