$primary-color: orange;
$inverted-color: invert($primary-color);

$second-color: indianred;
$second-inverted-color: invert($second-color);

$third-color: blue;
$third-inverted-color: invert($third-color);
